{% extends "layout/base.html" %}
{% block title %}Trang chủ{% endblock %}
{% block content %}
<h1>Chao mung cac ban da den voi Website</h1>

<section class="container">
    <div class="row">
        {% for p in products %}
        <div class="col-xs-12 col-md-3" style="padding: 5px">
            <div class="card">
                <img class="card-img-top" src="{{ p.image }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{ p.price }}</p>
                    <a href="#" class="btn btn-primary">Xem chi tiet</a>
                    <a href="#" class="btn btn-danger">Dat hang</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            {% for i in range(pages) %}
          <li class="page-item"><a class="page-link" href="/?page={{ i + 1 }}">{{ i + 1 }}</a></li>
            {% endfor %}
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</section>
{% endblock %}